In [1]:
import pandas as pd
import numpy as np
import pickle

In [4]:
DATA_FOLDER = '../datasets/'
INDEX_CSV = DATA_FOLDER + 'archive/Nifty50_Companieslist.csv'
NIFTY_CSV = DATA_FOLDER + 'nifty.csv'
STOCKS_CSV = DATA_FOLDER + 'archive/NIFTY50_Stocks/NIFTY50/'
STOCK_LIST = None
NIFTY_DATA = None
CATEGORY = None
STOCKS_DATA = None

In [11]:
stocks_list =  []
category = {}
index_df = pd.read_csv(INDEX_CSV)
stocks_list = index_df['Symbol'].tolist()
for i in range(len(index_df)):
    category[stocks_list[i]] = index_df['Industry'][i]

In [14]:
pickle.dump(stocks_list, open(DATA_FOLDER+'stocks_list.pkl', 'wb'))
pickle.dump(category, open(DATA_FOLDER+'category.pkl', 'wb'))

In [33]:
def get_df(stock):
    df = pd.read_csv(STOCKS_CSV+stock+'.NS.csv')
    df['Date'] = pd.to_datetime(df['Date'])
    return df

In [34]:
stock_data = {}
for stock in stocks_list:
    stock_data[stock] = get_df(stock)

In [35]:
pickle.dump(stock_data, open(DATA_FOLDER+'stock_data.pkl', 'wb'))

In [36]:
nifty_df = pd.read_csv(NIFTY_CSV)
nifty_df['Date'] = pd.to_datetime(nifty_df['Date'])
nifty_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0.0
1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0.0
2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0.0
3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0.0
4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0.0

In [37]:
pickle.dump(nifty_df, open(DATA_FOLDER+'nifty_data.pkl', 'wb'))

In [14]:
def load_data():
    global STOCK_LIST, CATEGORY, STOCKS_DATA, NIFTY_DATA
    STOCK_LIST = pickle.load(open(DATA_FOLDER+'stocks_list.pkl', 'rb'))
    CATEGORY = pickle.load(open(DATA_FOLDER+'category.pkl', 'rb'))
    STOCKS_DATA = pickle.load(open(DATA_FOLDER+'stock_data.pkl', 'rb'))
    NIFTY_DATA = pickle.load(open(DATA_FOLDER+'nifty_data.pkl', 'rb'))

In [15]:
load_data()

In [16]:
print(STOCK_LIST)

['ADANIENT', 'ADANIPORTS', 'APOLLOHOSP', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', 'BAJFINANCE', 'BAJAJFINSV', 'BPCL', 'BHARTIARTL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DIVISLAB', 'DRREDDY', 'EICHERMOT', 'GRASIM', 'HCLTECH', 'HDFCBANK', 'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'HDFC', 'ICICIBANK', 'ITC', 'INDUSINDBK', 'INFY', 'JSWSTEEL', 'KOTAKBANK', 'LT', 'M&M', 'MARUTI', 'NTPC', 'NESTLEIND', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBILIFE', 'SBIN', 'SUNPHARMA', 'TCS', 'TATACONSUM', 'TATAMOTORS', 'TATASTEEL', 'TECHM', 'TITAN', 'UPL', 'ULTRACEMCO', 'WIPRO']

In [40]:
print(STOCKS_DATA['M&M'].head())

        Date       Open       High        Low      Close  Adj Close    Volume
0 1997-01-01  41.237499  41.875000  41.125000  41.599998  27.377707  103600.0
1 1997-01-02  41.875000  42.237499  40.631248  41.168751  27.093899  400800.0
2 1997-01-03  40.756248  42.743752  40.756248  42.312500  27.846617  487200.0
3 1997-01-06  42.750000  43.393749  42.631248  43.325001  28.512964  198400.0
4 1997-01-07  43.218750  44.500000  43.200001  44.162498  29.064137  311200.0

In [30]:
print(NIFTY_DATA.head())

         Date         Open         High          Low        Close  \
0  2007-09-17  4518.450195  4549.049805  4482.850098  4494.649902
1  2007-09-18  4494.100098  4551.799805  4481.549805  4546.200195
2  2007-09-19  4550.250000  4739.000000  4550.250000  4732.350098
3  2007-09-20  4734.850098  4760.850098  4721.149902  4747.549805
4  2007-09-21  4752.950195  4855.700195  4733.700195  4837.549805

     Adj Close  Volume
0  4494.649902     0.0
1  4546.200195     0.0
2  4732.350098     0.0
3  4747.549805     0.0
4  4837.549805     0.0

In [31]:
index_df['Industry'].nunique()

14

In [42]:
STOCKS_DATA['M&M']['Date']

0      1997-01-01
1      1997-01-02
2      1997-01-03
3      1997-01-06
4      1997-01-07
          ...
6590   2023-03-17
6591   2023-03-20
6592   2023-03-21
6593   2023-03-22
6594   2023-03-23
Name: Date, Length: 6595, dtype: datetime64[ns]

In [17]:
len(NIFTY_DATA)

3971

In [5]:
nifty_df = pd.read_csv(NIFTY_CSV)
nifty_df['Date'] = pd.to_datetime(nifty_df['Date'])
nifty_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0.0
1,2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0.0
2,2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0.0
3,2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0.0
4,2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0.0

In [6]:
close_nan_count = nifty_df['Close'].isna().sum()
print(close_nan_count)

30

In [7]:
nan_count = nifty_df.isna().sum()
print(nan_count)

Date          0
Open         30
High         30
Low          30
Close        30
Adj Close    30
Volume       30
dtype: int64